@import "src/scss/variables";
  a {
    cursor: pointer;
    color: $default_white;
    text-decoration: none;
  }
   img {
      height: 200px;
    }
    p.content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
