@import "src/scss/variables";
@import "src/scss/helpers";

.new-post-container{
  display: flex;
  flex-direction: column;
  form{
    margin-bottom: 20px;
    input[type='file']{
      display: none;
    }

    input.mat-flat-button{
      @include button_full($button_purpure)
    }

    .custom-file{
      border: 1px solid $file_white;
      display: inline-block;
      padding: 6px 0;
      cursor: pointer;
      width: 100%;
    }
    .container-input-file{
      margin:  2rem 0;
    }
    .container-button{
      min-height: 80px;
    }
    mat-form-field{
      width: 100%;
    }
  }
}
